
<div class="c-testing{{#if settings.testingContextClass}}--{{settings.testingContextClass}}{{else}}--default{{/if}}{{#if settings.testingClasses}} {{settings.testingClasses}}{{/if}}"
     data-css="c-testing"
     data-js-module="testing"{{#if settings.testingJsOptions}}
     data-js-options='{{stringify settings.testingJsOptions}}'{{/if}}>
     testing
     
</div>
